Hey {{name}}!
Greetings from PICT IEEE Student Branch (PISB).
Thank you for registering in {{event}}.

Details of this event are as follows:
{{description}}
{% if event == "Datawiz" %}
Start - {{start}}
End - {{end}}{% else %} Date - {{start}}
{% endif %}
Futhur details will be shared soon.

In case of any technical difficulties or questions reach out to us through:
{% if event == "NCC" %}
Contact:
Jahan Chaware: 9822451588
Tanisha Pareekh: 9175643973
Email: pictieeestudentbranch2022@gmail.com{% endif %}{% if event == "RC" %}
Contact:
Jahan Chaware: 9822451588
Abhijeet Raotole: 9175830423
Email: pictieeestudentbranch2022@gmail.com{% endif %}{% if event == "Datawiz" %}
Contact:
Manas Sewatkar: 9028093133
Aditya Medhe: 9370546447
Email: pictieeestudentbranch2022@gmail.com
{% endif %}
All the best!

Regards,
PICT IEEE student branch.

For updates follow us on,
Instagram - https://www.instagram.com/pictieee/
LinkedIn - https://www.linkedin.com/company/pisbieee/

A word from our sponsor - Peerlist 

Information on your work profiles and resumes is disorganized, hard to spot, and spread across the internet. Which makes it difficult for your peers and recruiters to discover and interpret you. Peerlist makes it easy by creating a single and most meaningful work profile!

Check out https://peerlist.io for internship opportunities and more details.