<!-- Hey !

Thanks for registering for {{event}}.

Details of this event are as follows:

Start - 
End - 

{{description}}

All the best!

Regards,
PICT IEEE student branch.

For updates follow us on,
Instagram - https://www.instagram.com/pictieee/
LinkedIn - https://www.linkedin.com/company/pisbieee/

A word from our sponsor - Peerlist 

Information on your work profiles and resumes is disorganized, hard to spot, and spread across the internet. Which makes it difficult for your peers and recruiters to discover and interpret you. Peerlist makes it easy by creating a single and most meaningful work profile!

Check out https://peerlist.io for internship opportunities and more details. -->
